/* TAG-SPECIFIC */
body, h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: var(--heading-1);
}

h2 {
    font-size: var(--heading-2);
}

h3 {
    font-size: var(--heading-3);
}

h4 {
    font-size: var(--heading-4);
}

p {
    font-size: var(--paragraph);
}

/*=================================================================//
//=== BODY ========================================================//
//=================================================================*/
body {
    display: grid;
    grid-template-columns: minmax(330px, 2fr) 6fr minmax(330px, 2fr);
    grid-template-rows: 100px 3fr 5fr 4fr;
    gap: 10px;

    /*
        Subjektives empfinden: Bei einem Spiel ist es unnötig bzw. eine Ablenkung, wenn der Cursor sich über text ändert
        Die einzigen Fälle, bei denen sich der Cursor ändern soll sind Buttons.
    */
    cursor: default;

    height: 100vh;
    width: 100vw;
}

/*=================================================================//
//=== HEADER ======================================================//
//=================================================================*/

header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: hidden;
    border-bottom-right-radius: 10px;

    background-color: lightgrey;
}

header > img {
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 50%;
}

header > h1 {
    margin: auto 0 auto 0;
}

/*=================================================================//
//=== PORTFOLIO ===================================================//
//=================================================================*/
#portfolio {
    grid-column: 1 / 2;
    grid-row: 2 / -2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 1fr;

    padding: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: lightgrey;

    overflow-x: hidden;
}

#portfolio > h3 {
    margin: auto 0 auto 0;
}

#positions {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 10px;

    overflow-y: auto;
    overflow-x: hidden;
}

.position {
    background-color: #00B7FF;

    display: grid;
    grid-template-columns: 100px 1fr 60px;
    grid-template-rows: 30px 30px;
    gap: 5px;

    height: 65px;
    padding: 5px;
    border-radius: 5px;
    cursor: default;
}

.position-name {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.emergency-sell {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    background-color: red;
    border-radius: 3px;
    cursor: pointer;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.position-count {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.position-value {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

/*=================================================================//
//=== STOCKS ======================================================//
//=================================================================*/

#stocks {
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-auto-rows: min-content;
    gap: 20px;

    background-color: lightgrey;
    border-top-l3;
    grid-row: 2 / -1;

    display: grid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px;

    overflow-y: auto;
    overflow-x: hidden;
}

.stock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 145px 25px 25px min-content;
    gap: 5px;

    width: 290px;
    height: inherit;
    padding: 10px;
    margin: auto;

    background-color: grey;
    border-radius: 5px;
}

.stock-hl-green {
    background-color: forestgreen;
}

.stock-hl-red {
    background-color: red;
}

.buy-sell {
    grid-column: 1 / 3;
    grid-row: 4 / 5;

    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content min-content;
    gap: 10px;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.sell10k {
    background-color: #7b0000;
}

.sell1k {
    background-color: #640000;
}

.buy10k {
    background-color: #007000;

}

.buy1k {
    background-color: #006400;
}

.custom-transaction {
    grid-column: 1 / -1;
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    gap: 5px;
}

.custom-transaction-input {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    border-radius: 5px;
    height: 24px;
    font-size: 20px;
}

.custom-transaction-sell {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    background-color: #7b0000;
}

.custom-transaction-buy {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    background-color: #007000;
}

.stock-chart {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    width: 290px;
    height: 145px;

    background-color: white;
}

/*
[IMPORTANT] used for svg. used imported name space,
which knows how to handle the given parameters
*/
.polyline-graph {
    fill: none;
    stroke: blue;
    stroke-width: 15;
}

.stock-name {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    margin: auto;
    overflow: hidden;
}

.stock-price {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    margin: auto;
}

.stock-count {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    margin: auto;
}

/*=================================================================//
//=== RANKING =====================================================//
//=================================================================*/

#ranking {
    grid-column: 3 / -1;
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 10px;

    border-bottom-left-radius: 10px;
    background-color: lightgrey;
    padding: 15px;

    overflow-x: hidden;
}

#ranking-list {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, min-content);
    gap: 5px;
    grid-auto-flow: row;

    overflow-y: auto;
    overflow-x: hidden;
}

.rank {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
}

.firstRank {
    background-color: gold;
}

.secondRank {
    background-color: silver;
}

.thirdRank {
    background-color: #c77b30;
}

.otherRank {
    background-color: grey;
}

/*=================================================================//
//=== NEWS/ERROR-LOG/TRANSACTIONS (UMSÄTZE) =======================//
//=================================================================*/
#news-section {
    grid-column: 3 / -1;
    grid-row: 3 / 4;

    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#errors-section {
    grid-column: 3 / -1;
    grid-row: 4 / 5;

    border-top-left-radius: 10px;
}

#transactions-section {
    grid-column: 1 / 2;
    grid-row: -2 / -1;

    border-top-right-radius: 10px;
}

#news-section, #errors-section, #transactions-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    gap: 5px;
    grid-auto-flow: row;


    background-color: lightgrey;
    padding: 15px;

    overflow-x: hidden;
}

#news-list, #error-list, #transaction-list {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 5px;
    grid-auto-flow: row;

    overflow-y: auto;
    overflow-x: hidden;
}

.news, .errors, .transactions {
    padding: 5px;
    border-radius: 5px;
    background-color: grey;
}

.errors {
    transition: background-color .4s ease-in;
}

.errors.red-error {
    background-color: red;
}

.news, .transactions {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 5px;
}

.news-time, .transactions-message {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.news-message, .transaction-value {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

/*=================================================================//
//=== VARIABLES ===================================================//
//=================================================================*/
.main-design {
    --heading-1: 46px;
    --heading-2: 38px;
    --heading-3: 32px;
    --heading-4: 26px;
    --paragraph: 22px;
}

/*=================================================================//
//=== QUERIES =====================================================//
//=== nur genutzt, da diese responsivität nicht mit grid, oder ====//
//=== flex umsetzbar war. =========================================//
//=================================================================*/

@media only screen and (max-width : 1023px) {
    .main-design {
        --heading-1: 40px;
        --heading-2: 32px;
        --heading-3: 26px;
        --heading-4: 20px;
        --paragraph: 16px;
    }

    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 2fr 5fr 2fr;
        gap: 10px;

        /*
            Subjektives empfinden: Bei einem Spiel ist es unnötig bzw. eine Ablenkung, wenn der Cursor sich über text ändert
            Die einzigen Fälle, bei denen sich der Cursor ändern soll sind Buttons.
        */
        cursor: default;

        height: 100vh;
        width: 100vw;
    }

    header {
        grid-column: 1 / -1;
        grid-row: 1 / 2;

        border-radius: 0;
    }

    #portfolio {
        grid-column: 2 / 3;
        grid-row: 3 / 4;

        grid-template-rows: min-content min-content 1fr;
        gap: 5px;

        border-radius: 10px 0 0  10px;
    }

    #transactions-section {
        grid-column: 1 / 2;
        grid-row: 2 / 3;

        border-radius: 0 10px 10px 0;
    }

    #stocks {
        grid-column: 1 / 2;
        grid-row: 3 / 4;

        border-radius: 0 10px 10px 0;
    }

    #ranking {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        border-radius: 10px 0 0  10px;
    }

    #news-section {
        grid-column: 2 / 3;
        grid-row: 4 / 5;

        border-radius: 10px 0 0 0;
    }

    #errors-section {
        grid-column: 1 / 2;
        grid-row: 4 / 5;

        border-radius: 0 10px 0 0 ;
    }
}