/* TAG-SPECIFIC */
body, h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: var(--heading-1);
}

h2 {
    font-size: var(--heading-2);
}

h3 {
    font-size: var(--heading-3);
}

h4 {
    font-size: var(--heading-4);
}

p {
    font-size: var(--paragraph);
}

/* BODY */
body {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 100px 3fr 5fr 3fr;
    gap: 10px;

    height: 100vh;
    width: 100vw;
}

/* HEADER */
header {
    grid-column: 1 / 3;
    grid-row: 1 / 2 ;

    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: hidden;
    border-bottom-right-radius: 5px;

    background-color: lightgrey;
}

header > img {
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 50%;
}

header > h1 {
    margin: auto 0 auto 0;
}

/* PORTFOLIO */
#portfolio {
    grid-column: 1 / 2;
    grid-row: 2 / -1;

    background-color: goldenrod;
}



/* STOCKS */
#stocks {
    grid-column: 2 / 3;
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: repeat(auto-fit, 310px);
    grid-auto-rows: max-content;

    background-color: lightgrey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 6px;
    gap: 10px;
}

.stock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 145px 25px 25px 1fr;
    gap: 5px;

    width: 290px;
    height: inherit;
    padding: 10px;

    background-color: grey;
    border-radius: 5px;
}

.stock-hl-green {
    background-color: forestgreen;
}

.stock-hl-red {
    background-color: red;
}

.stock:hover .buy-sell {
    display: grid;
}

.buy-sell {
    grid-column: 1 / 3;
    grid-row: 4 / 5;

    display: none;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    height: 30px;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.sell100 {
    background-color: darkred;
    color: white;
}

.buy100 {
    background-color: darkgreen;
    color: white;
}

.stock-chart {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    width: 290px;
    height: 145px;

    background-color: white;
}

.polyline-graph {
    fill: none;
    stroke: blue;
    stroke-width: 15;
}

.stock-name {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    margin: auto;
    overflow: hidden;
}

.stock-price {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    margin: auto;
}

.stock-count {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    margin: auto;
}

/* RANKING */
.ranking {
    grid-column: 3 / -1;
    grid-row: 1 / 3;

    background-color: goldenrod;
}

/* NEWS */
.news {
    grid-column: 3 / -1;
    grid-row: 3 / 4;

    background-color: goldenrod;
}

/* ERROR-LOG */
.error-log {
    grid-column: 3 / -1;
    grid-row: 4 / -1;

    background-color: goldenrod;
}

/* VARIABLES */
.main-design {
    --heading-1: 46px;
    --heading-2: 38px;
    --heading-3: 32px;
    --heading-4: 26px;
    --paragraph: 22px
}